@import "tailwindcss";
@plugin "daisyui";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --color-primary-green: #1ab394;
    --color-primary-green-rgb: 0, 122, 51;

    --color-secondary-green: #14ad9a;
    --color-terciary-green: #2ed080;
    --color-bg-green: #ddf9ef;

    --color-coral: #f2987f;
    --color-blue: #5db4ec;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;

        --color-primary-green: #1ab394;
        --color-primary-green-rgb: 0, 122, 51;

        --color-secondary-green: #14ad9a;
        --color-terciary-green: #2ed080;
        --color-bg-green: #ddf9ef;
        --color-coral: #f2987f;
        --color-blue: #5db4ec;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    h1 {
        @apply text-primary-green;
    }
}

@utility btn {
    @apply rounded-md;
}

@utility btn-primary {
    @apply bg-[var(--color-primary-green)] text-white hover:bg-[var(--color-secondary-green)]  border border-[var(--color-secondary-green)];
}

@utility btn-primary-card {
    @apply bg-[var(--color-primary-green-rgb)] text-[var(--color-primary-green)] hover:bg-[var(--color-secondary-green)] hover:text-white;
}

@utility btn-secondary-card {
    @apply bg-[var(--color-coral)] text-white hover:bg-orange-400;
}

@utility btn-secondary {
    @apply bg-[var(--color-coral)] text-white hover:bg-orange-400;
}

@utility badge-primary {
    @apply bg-[var(--color-bg-green)] text-[var(--color-primary-green)] border-[var(--color-bg-green)];
}
